{% extends 'base.html.twig' %}

{% block title %}
	{{ project.name }}
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="my-3">{{ project.name }}</h1>
		<p>{{ project.description }}</p>
		<section>
			<h2 class="my-4">Taches :</h2>
			<ul class="list-group">
				{% for task in tasks %}
					<li class="list-group-item">
						<article class="my-3">
							<div class="card-body">
								<p>
									NOM:
									{{ task.name }}<br>
									DESCRIPTION:
									{{ task.description }}<br>
									STATUS:
									{{ task.state }}<br>
									USER:
									{% if task.collaboration is not null and task.collaboration.user is defined %}

										{{task.collaboration.user.email}}
									{% endif %}
									<br>
								</p>
								{% if ( task.collaboration is not null and task.collaboration.user is defined and task.collaboration.user == app.user) or isUserAdmin %}
									<a class="btn btn-primary" href="{{ path('task_edit', {'id': task.id, 'projectId': project.id}) }}">edit</a>
								{% endif %}
							</div>
						</article>
					</li>
				{% endfor %}
			</ul>
			{% if isUserAdmin %}
				<a class="btn btn-primary mt-3" href="{{ path('task_new', {'projectId': project.id}) }}">nouvelle Tache</a>
			{% endif %}
		</section>
		<section>
			<h2 class="my-4">Collaborateur :</h2>

			<table class="table">
				<thead>
					<tr>
						<th>Email</th>
						<th>Admin</th>
					</tr>
				</thead>
				<tbody>
					{% for collaboration in collaborations %}
						<tr>
							<td>{{ collaboration.user.email }}</td>
							<td>{{ collaboration.isAdmin ? 'Yes' : 'No' }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			{% if isUserAdmin %}
				<a class="btn btn-primary mt-3" href="{{ path('manage_collaboration', {'projectId': project.id}) }}">gérer</a>
			{% endif %}
		</section>

	</div>
{% endblock %}
